:root{
    --primary-background__color: #007cba;
    --primary-word__color: blue;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: logoFont;
    src: url(/assets/fonts/Lifelogo\ Easy.ttf);
}

html{
    font-family: Helvetica, Arial, sans-serif;
}

#main{
    display: flex;
    flex-direction: column;
}

#container{
    margin-top: 35px;
    display: flex;
    flex-direction: row;
}

#nav {
    display: inline-block;
}

#header{
    height: 35px;
    background-color: var(--primary-background__color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a{
    color: white;
}

#nav li a {
    text-decoration: none;
    line-height: 35px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a, 
#nav .subnav li:hover {
    color: black;
    background-color: #ccc;
}

#nav .subnav {
    min-width: 160px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

#nav li:first-child{
    font-family: logoFont;
}

#header .login {
    color: white;
    float: right;
    padding: 0 21px;
    cursor: pointer;
    line-height: 35px;
}

#header .login:hover {
    background-color: #f44336;
}

#header .signup {
    color: white;
    float: right;
    padding: 0 21px;
    cursor: pointer;
    line-height: 35px;
}

#header .signup:hover {
    background-color: #f44336;
}

/* #sidebar{
    width: 20%;
    background-color:aqua;
    min-height: 200px;
} */

#bars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

#bars li {
    background-color: var(--primary-background__color);
    width: 100%;
    text-align: center;
    padding: 10px;
}

#bars li:hover {
    color: black;
    background-color: #ccc;
}

#bars li a{
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: block;
    
}

.subcontainer{
    width: 100%;

}

#slider{
    min-height: 400px;
    background-color:bisque;
}


#content{
    
    background-color: beige;
  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div.tinTuc {
    padding: 10px;
    width: 100%;
    height: 80px;
}

div.tinTuc p {
    font-size: 40px;
    font-weight: bold;
}

div.tinTuc p::after {
    width: 7px;
    height: 40px;
    background-color: #f44336;
    content:'';
    display: block;
    float: left;
    left: 0;
    top: 1px;

}

#posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;    
}

.post {
    justify-content: center;
    display: flex;  
    padding: 2px;
    border-bottom: solid 2px #000;
    margin-top: 5px;
}

.post a.imagePost {
    width: 50%;
    display: block;
}
.post a img {
    display: block;
    width: 100%;
}

.content {
    width: 50%;
}

a {
    text-decoration: none;
    color: #000;
}

p.title {
    color: #000;
    padding: 5px;
    font-weight: bold;
    font-size: 30px;
    
}

.content p.contentPost {
    font-weight: lighter;
    padding: 5px;
    color: rgb(64, 63, 63);
}

.boxs {
    width: 20%;
    display: flex;
    flex-direction: column;
    position: sticky;
    align-self: flex-start;
    top: 0;
    margin-left: 30px;
   
}

.boxs a:first-child {
    margin-top: 80px;
}


.box {
    width: 100%;
    display: flex;
    height: 130px;
    align-items: center;
    background-color: var(--primary-background__color);
    margin-top: 5px;
    border-radius: 5px;
}

.box div:first-child {
    width: 30%;
}

.box div {
    text-align: center;
    padding: 10px;
    width: 70%;
    
}

.box div p {
    color: #fff;
}

.box div i {
    font-size: 70px;
    color: #fff;
}
#footer{
    margin-top: 20px;
   display: flex;
    min-height: 100px;
    background-color: var(--primary-background__color);
    justify-content: center;
    align-items: center;
    height: 300px;
}

.footerItem {
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: center;
}

.footerItem {
    color: #fff;
}
.footerItem div p {
    display: inline;
}

.footerItem .tieu-de {
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}

#footer .footerItem:first-child  {
    font-family: logoFont;
    font-size: 50px;
}

.footerItem a {
    color: #fff;
}

.footerItem div {
    padding: 10px;
    
}

.mxh {
    font-size: 50px;
}

.mxh i {
    color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal__body{       
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
}

.auth-form{
    width: 500px;
    background-color: white;
    border-radius: 5px;    
}

.auth-form__container{
    
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 36px;
    padding-top: 30px;
}

.auth-form__heading{
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.auth-form_switch-btn{
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-word__color);
    cursor: pointer;
}

.auth-form__form{
    margin: 20px 36px;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 18px;
    border: 1px solid var(--primary-background__color);
    border-radius: 2px;  
    outline: none;  
}

.auth-form__input:focus {
    border: 2px solid #888;

}

.auth-form__aside{
    margin: 18px 36px;   
}

.auth-form__policy-text{
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}

.auth-form__text-link{
    color: var(--primary-word__color);
    text-decoration: none;
}

.auth-form__controls{
    margin: 50px 36px;
    display: flex;
    justify-content: flex-end;
}

.btn{
    min-width: 130px;
    height: 30px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    padding: 0 8px;
    outline: none;
    cursor: pointer;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 15px;
}

.btn.btn--primary{
    color: var(--primary-word__color);
    background-color: var(--primary-background__color);
    margin-left: 20px;
}

.btn.btn--normal:hover {
    background-color: rgba(0,0,0,0.2);
}

.auth-form__socials{
    margin-top: 24px;
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.btn--size-s{
    height: 32px;
    font-size: 12px;
}

.auth-form__socials--iconn{
    font-size: 18px;
}

.auth-form__socials--facebook{
    color: white;
    background-color: #3A5A98;
}

.auth-form__socials--facebookk
.auth-form__socials--icon{
    color: white;
}

.auth-form__socials--title{
    margin: 0 36px;
}

.auth-form__socials--google{
    background-color: white;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__help--link{
    text-decoration: none;
    font-size: 14px;
    color: #939393;
}

.auth-form__help--separate{
    display: block;
    margin: 0px 16px;
    border-left: 2px solid var(--primary-background__color);
}

.auth-form__help--forgot{
    color: var(--primary-word__color);
}

.chat-window{
    width: 1200px;
    height: 700px;
    background-color: #74aedb;
    margin: auto;
    border-radius: 50px;
    border: solid 1px #000;
}

.top {
    border-bottom: solid 3px #000;
    display: flex;
    align-items: center;
}

div.onl-off i{
    color :rgb(4, 231, 0);
    padding: 2px;
}
div.status {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.status div {
    padding: 10px;
}

.prof-pic {
    border-radius: 50%;
    width: 100px;
    padding: 10px;

}

.prof-pic img{
    width: 100%;
    border-radius: 50%;
}

.bot {
    width: 100%;
    height: 75%;

}

.chat-screen {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: relative;
}

.chat-interact {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 0;
    padding: 10px;
}
.chat-bar {
    width: 100%;
 
}

.chat-submit {
    width: 20%;

}

.chat-bar input{
    border: solid 1px #000;
    border-radius: 20px;
    height: 50px;
    width: 100%;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 30px;
    padding: 5px;
}

.chat-submit input {
    border: solid 1px #000;
    border-radius: 20px;
    height: 50px;
    width: 100%;
    cursor: pointer;
}
